body{
    
    background-color: rgb(208, 220, 224);
    box-sizing: border-box;  
    font-family: 'Poppins', sans-serif;
    height: 90vh;
    width: 90vw;
}
.main-container{
    margin: 5% auto;
    margin-top: 150px;
    text-align: center;
    width: 70%;
    min-width: 550px;
    border: 2px solid rgb(245, 237, 91);
    box-shadow: 10px 10px 8px 7px #0e0916;
    border-radius: 30px;
    background-color: #07051a;
}

.task-container{
   width: 90vw;
    margin: auto;
    background: rgb(226, 222, 88);
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid rgb(16, 7, 7);
    border-radius: 12px;
    font-size: 30px;
    height: 10rem;
}
.list-group-item{
    background: transparent;
    border: 2px solid black;
}
.card-header{
    text-align: center;   
    font-weight: bold;
    font-size: 25px;
}
.add-btn{
    background-color: rgb(66, 70, 72);
    color: white;
    margin-left: 5px;
}
.gitrepo{
    
    opacity: 1;
    border :1px  rgb(122, 153, 106);
    color : rgb(6, 11, 54);
    position: fixed;
    margin-top: 50px;
    top: 0;
    width:100%;
    height:2rem;
    text-align: center;
    font-family: 'Sans-serif', Courier, monospace;
    font-weight: bold;
}
.gitrepo a{
    color:  rgb(4, 31, 40);
    opacity: 0.5;
    padding: 3px;
    border-radius: 4px;
}


.tasks{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: transparent;
}

.content{
    margin: 10px;
    background-color: rgb(89, 73, 155);
    border-radius: 20px;
}

#edit{
    margin: 10px 5px;
    background: rgb(105, 105, 247);
    color: white;
}
#delete{
    margin: 10px 5px;
    background: rgb(237, 72, 72);
    color: white;
}
#searchbar{
    color: rgb(247, 157, 157);
    width: 72%;
    height: 2rem;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    background: transparent;
}

#a{
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    margin: 20px 0px;
}

#form{
    margin: 0px 10px;
    height: 20%;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    background: transparent;
}

#add-task{
    height: 40%;
    background: transparent;
    border-radius: 15px;
    color: rgb(248, 236, 7);
}
#task-list{
    border-radius: 10px;
}